/* Jardel */

:root{
    --primary-blue: #192a56;
    --primary-white: #f5f6fa;
    --secundy-white: #dcdde1 ;
    --primary-shadow: #353b48;
    --primary-black: #2f3640;
}

main{
    width: 810px;
    height: 550px;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    background-color: var(--primary-blue);
    box-shadow: 8px 8px 10px var(--primary-shadow);
}

.sectionColuns{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 115px;
}
.sectionColuns div{
    width: 80px;
    height: 80px;
    margin: 10px 15px 0px 15px;
    background-color: var(--primary-white);
    border-radius: 100px;
    cursor: pointer;
}

.sectionColuns div:hover{
    background-color: var(--secundy-white);

}

/* Gustavo */
body{
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 2.5rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
}
div#ponto{
    border: 2px solid black;
    margin: 0 auto;
    width: 50%;

}
p{
    text-align: center;
}

